@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>You have successfully logged out of the application.</p>
    </div>
</header>

@section CartNotRequired {
    <!-- Not need to render Shopping Cart in Cart Page -->
}