@page
@model AspnetRun.Web.Pages.AboutUsModel
@{
}

<!-- About Section Start -->
<div class="about-section section mt-90 mb-30">
    <div class="container">

        <div class="row row-30 mb-40">

            <!-- About Image -->
            <div class="about-image col-lg-6 mb-50">
                <img src="assets/images/about/about-1.png" alt="">
            </div>

            <!-- About Content -->
            <div class="about-content col-lg-6">
                <div class="row">
                    <div class="col-12 mb-50">
                        <h1>WELCOME TO <span>E&E.</span></h1>
                        <p>E&E provide how all this mistaken idea of denouncing pleasure and sing pain was born an will give you a complete account of the system, and expound the actual teachings of the eat explorer of the truth, the mer of human.</p>
                    </div>

                    <div class="col-12 mb-50">
                        <h4>WE START AT 2015</h4>
                        <p>E&E provide how all this mistaken idea of denouncing pleasure and sing pain was born an will give you a complete account of the system, and expound the actual teachings of the eat explorer of the truth, the mer of human.</p>
                    </div>

                    <div class="col-12 mb-50">
                        <h4>WIN BEST ONLINE SHOP AT 2017</h4>
                        <p>E&E provide how all this mistaken idea of denouncing pleasure and sing pain was born an will give you a complete account of the system, and expound the actual teachings of the eat explorer of the truth, the mer of human.</p>
                    </div>

                </div>
            </div>

        </div>

        <div class="row row-10 mb-60">

            <!-- Banner -->
            <div class="col-md-3 mb-20">
                <div class="banner"><a href="#"><img src="assets/images/banner/banner-43.jpg" alt="Banner"></a></div>
            </div>

            <!-- Banner -->
            <div class="col-md-9">
                <div class="row row-10">

                    <div class="col-md-6 col-12 mb-20"><div class="banner"><a href="#"><img src="assets/images/banner/banner-44.jpg" alt="Banner"></a></div></div>
                    <div class="col-md-6 col-12 mb-20"><div class="banner"><a href="#"><img src="assets/images/banner/banner-45.jpg" alt="Banner"></a></div></div>

                </div>
            </div>

        </div>

        <!-- Mission, Vission & Goal -->
        <div class="about-mission-vission-goal row row-20 mb-40">

            <div class="col-lg-4 col-md-6 col-12 mb-40">
                <h3>OUR VISSION</h3>
                <p>E&E provide how all this mistaken idea of denouncing pleasure and sing pain was born an will give you a ete account of the system, and expound the actual teangs the eat explorer of the truth, the mer of human tas assumenda est, omnis dolor repellend</p>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-40">
                <h3>OUR MISSION</h3>
                <p>E&E provide how all this mistaken idea of denouncing pleasure and sing pain was born an will give you a ete account of the system, and expound the actual teangs the eat explorer of the truth, the mer of human tas assumenda est, omnis dolor repellend</p>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-40">
                <h3>OUR GOAL</h3>
                <p>E&E provide how all this mistaken idea of denouncing pleasure and sing pain was born an will give you a ete account of the system, and expound the actual teangs the eat explorer of the truth, the mer of human tas assumenda est, omnis dolor repellend</p>
            </div>

        </div>

        <div class="row mb-30">

            <!-- About Section Title -->
            <div class="about-section-title col-12 mb-50">
                <h3>YOU CAN CHOOSE US BECAUSE <br>WE ALWAYS PROVIDE IMPORTANCE...</h3>
                <p>E&E provide how all this mistaken idea of denouncing pleasure and sing pain was born will give you a complete account of the system, and expound the actual</p>
            </div>

            <!-- About Feature -->
            <div class="about-feature col-lg-7 col-12">
                <div class="row">

                    <div class="col-md-6 col-12 mb-30">
                        <h4>FAST DELIVERY</h4>
                        <p>E&E provide how all this mistaken dea of denouncing pleasure and sing </p>
                    </div>

                    <div class="col-md-6 col-12 mb-30">
                        <h4>QUALITY PRODUCT</h4>
                        <p>E&E provide how all this mistaken dea of denouncing pleasure and sing </p>
                    </div>

                    <div class="col-md-6 col-12 mb-30">
                        <h4>SECURE PAYMENT</h4>
                        <p>E&E provide how all this mistaken dea of denouncing pleasure and sing </p>
                    </div>

                    <div class="col-md-6 col-12 mb-30">
                        <h4>MONEY BACK GUARNTEE</h4>
                        <p>E&E provide how all this mistaken dea of denouncing pleasure and sing </p>
                    </div>

                    <div class="col-md-6 col-12 mb-30">
                        <h4>EASY ORDER TRACKING</h4>
                        <p>E&E provide how all this mistaken dea of denouncing pleasure and sing </p>
                    </div>

                    <div class="col-md-6 col-12 mb-30">
                        <h4>FREE RETURN</h4>
                        <p>E&E provide how all this mistaken dea of denouncing pleasure and sing </p>
                    </div>

                    <div class="col-md-6 col-12 mb-30">
                        <h4>24/7 SUPPORT</h4>
                        <p>E&E provide how all this mistaken dea of denouncing pleasure and sing </p>
                    </div>

                </div>
            </div>

            <!-- About Feature Banner -->
            <div class="about-feature-banner col-lg-5 col-12 mb-30">
                <div class="banner"><a href="#"><img src="assets/images/banner/banner-32.jpg" alt="Banner"></a></div>
            </div>

        </div>

    </div>
</div><!-- About Section End -->
