@page
@model AspnetRun.Web.Pages.BlogsModel
@{
}

<!-- Blog Section Start -->
<div class="blog-section section mt-90 mb-50">
    <div class="container">
        <div class="row row-40">

            <div class="col-lg-8 col-12 order-1 order-lg-2 mb-40">
                <div class="row">

                    <!-- Blog Item -->
                    <div class="col-12 mb-40">
                        <div class="ee-blog">
                            <a href="single-blog-left-sidebar.html" class="image"><img src="assets/images/blog/blog-10.jpg" alt="Blog Image"></a>
                            <div class="content">
                                <h3><a href="single-blog-left-sidebar.html">Latest Drone for taking sky view image and 4K video</a></h3>
                                <ul class="meta">
                                    <li><a href="#">Momen</a></li>
                                    <li><a href="#">30 January, 2018</a></li>
                                    <li><a href="#">Comments 05</a></li>
                                </ul>
                                <p>enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magniolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dorem ipsum quia dolor sit met, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</p>
                            </div>
                        </div>
                    </div>

                    <!-- Blog Item -->
                    <div class="col-12 mb-40">
                        <div class="ee-blog">
                            <div class="content">
                                <h3><a href="single-blog-left-sidebar.html">Zeon Z 5 Pro Laptop makes your life easy and simple</a></h3>
                                <ul class="meta">
                                    <li><a href="#">Momen</a></li>
                                    <li><a href="#">30 January, 2018</a></li>
                                    <li><a href="#">Comments 05</a></li>
                                </ul>
                                <p>enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magniolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dorem ipsum quia dolor sit met, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</p>
                            </div>
                        </div>
                    </div>

                    <!-- Blog Item -->
                    <div class="col-12 mb-40">
                        <div class="ee-blog">
                            <a href="single-blog-left-sidebar.html" class="image"><img src="assets/images/blog/blog-11.jpg" alt="Blog Image"></a>
                            <div class="content">
                                <h3><a href="single-blog-left-sidebar.html">Latest Play Station for plying exclusive games</a></h3>
                                <ul class="meta">
                                    <li><a href="#">Momen</a></li>
                                    <li><a href="#">30 January, 2018</a></li>
                                    <li><a href="#">Comments 05</a></li>
                                </ul>
                                <p>enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magniolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dorem ipsum quia dolor sit met, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</p>
                            </div>
                        </div>
                    </div>

                    <!-- Blog Item -->
                    <div class="col-12 mb-40">
                        <div class="ee-blog">
                            <div class="content">
                                <blockquote>
                                    <p>“enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cequuntur magni dolores eos qui ratione voluptatem sequi nesnt. Neque porro quiam est, qui dorem ipsum quia dolor sit amet, conetur, adipisci velit, sed quia non nuam modi tempora incidunt”</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>

                    <!-- Blog Item -->
                    <div class="col-12 mb-40">
                        <div class="ee-blog">
                            <a href="single-blog-left-sidebar.html" class="image"><img src="assets/images/blog/blog-12.jpg" alt="Blog Image"></a>
                            <div class="content">
                                <h3><a href="single-blog-left-sidebar.html">The most attractive Smart watch comming in this February</a></h3>
                                <ul class="meta">
                                    <li><a href="#">Momen</a></li>
                                    <li><a href="#">30 January, 2018</a></li>
                                    <li><a href="#">Comments 05</a></li>
                                </ul>
                                <p>enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magniolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dorem ipsum quia dolor sit met, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</p>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Pagination -->
                <div class="row">
                    <div class="col">

                        <ul class="pagination">
                            <li><a href="#"><i class="fa fa-angle-left"></i>Back</a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li> - - - - - </li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">Next<i class="fa fa-angle-right"></i></a></li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 order-2 order-lg-1">

                <!-- Blog Sidebar -->
                <div class="blog-sidebar mb-40">

                    <h4 class="title">CATEGORIES</h4>

                    <ul>
                        <li><a href="#">Tv & Audio System</a></li>
                        <li><a href="#">Computer & Laptop</a></li>
                        <li><a href="#">Phones & Tablets</a></li>
                        <li><a href="#">Home Appliances</a></li>
                        <li><a href="#">Kitchen appliances</a></li>
                        <li><a href="#">Printer & Scanner</a></li>
                        <li><a href="#">Camera & CC Camera</a></li>
                        <li><a href="#">Smart Watch</a></li>
                        <li><a href="#">Accessories</a></li>
                    </ul>

                </div>

                <!-- Blog Sidebar -->
                <div class="blog-sidebar mb-40">

                    <h4 class="title">RECENT POST</h4>

                    <div class="sidebar-blog">
                        <a href="#" class="image"><img src="assets/images/blog/sidebar-blog-1.jpg" alt="Sidebar Blog"></a>
                        <div class="content">
                            <h5><a href="#">PS4 Play Station for playing games</a></h5>
                            <span>30 January 2018</span>
                        </div>
                    </div>

                    <div class="sidebar-blog">
                        <a href="#" class="image"><img src="assets/images/blog/sidebar-blog-2.jpg" alt="Sidebar Blog"></a>
                        <div class="content">
                            <h5><a href="#">Kitchen Appliances Toster</a></h5>
                            <span>26 January 2018</span>
                        </div>
                    </div>

                    <div class="sidebar-blog">
                        <a href="#" class="image"><img src="assets/images/blog/sidebar-blog-3.jpg" alt="Sidebar Blog"></a>
                        <div class="content">
                            <h5><a href="#">Most Innovative Smartphone</a></h5>
                            <span>20 January 2018</span>
                        </div>
                    </div>

                </div>

                <!-- Blog Sidebar -->
                <div class="blog-sidebar mb-40">

                    <div class="banner"><a href="#"><img src="assets/images/banner/banner-41.jpg" alt="Banner"></a></div>

                </div>

                <!-- Blog Sidebar -->
                <div class="blog-sidebar mb-40">

                    <h4 class="title">Tags</h4>

                    <div class="tags-cloud">
                        <a href="#">smartphone</a>
                        <a href="#">Iron</a>
                        <a href="#">Trimer</a>
                        <a href="#">Smart Watch</a>
                        <a href="#">Play Station</a>
                        <a href="#">Oven</a>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div><!-- Blog Section End -->
