@page
@model AspnetRun.Web.Pages.BlogDetailModel
@{
}

<!-- Blog Section Start -->
<div class="blog-section section mt-90 mb-50">
    <div class="container">
        <div class="row row-40">

            <div class="col-lg-8 col-12 order-1 order-lg-2 mb-40">
                <div class="row">

                    <div class="col-12 mb-50">
                        <div class="ee-single-blog">
                            <div class="image"><img src="assets/images/blog/blog-10.jpg" alt="Blog Image"></div>
                            <div class="content">
                                <h3>Latest Drone for taking sky view image and 4K video</h3>
                                <ul class="meta">
                                    <li><a href="#">Momen</a></li>
                                    <li><a href="#">30 January, 2018</a></li>
                                    <li><a href="#">Comments 05</a></li>
                                </ul>
                                <p>enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magn lores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dorem ipsum quia dolor sit etur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam</p>
                                <p>enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magn lores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dorem ipsum quia dolor sit etur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam ore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur</p>
                                <blockquote><p>"enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cequuntur magn lores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dorem ipsum quia dolor sit etur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam"</p></blockquote>
                                <p>enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magn lores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dorem ipsum quia dolor sit etur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam </p>

                                <div class="blog-footer">
                                    <div class="blog-tags"><h5>Tags:</h5> <a href="#">Electronic</a> <a href="#">Smartphone</a> <a href="#">Drone</a> <a href="#">Home Appliance</a></div>
                                    <div class="blog-share"><h5>Share:</h5> <a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="blog-author col mb-80">

                        <div class="image"><img src="assets/images/blog/author.jpg" alt="Blog Author"></div>
                        <div class="content">
                            <h4><a href="#">Elina Smith</a></h4>
                            <p>enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magn lores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dorem ipsum quia dolor sit etur, adipisci velit, sed quia non numquam eius mod</p>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="blog-comment-wrap col">

                        <h4>3 Comments</h4>

                        <ul class="comment-list">
                            <li>
                                <div class="single-comment">
                                    <div class="image"><img src="assets/images/blog/comment-1.jpg" alt=""></div>
                                    <div class="content">
                                        <h5>Julia Rebeca  /  <span>30 Janurary, 2018</span></h5>
                                        <p>enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cntur magn lores eos qui ratione voluptatem sequi nesciunt. Neque porro</p>
                                        <a href="#" class="reply">reply</a>
                                    </div>
                                </div>
                                <ul class="children">
                                    <li>
                                        <div class="single-comment">
                                            <div class="image"><img src="assets/images/blog/comment-2.jpg" alt=""></div>
                                            <div class="content">
                                                <h5>Richand Williams  /  <span>30 Janurary, 2018</span></h5>
                                                <p>enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cntur magn lores eos qui ratione voluptatem sequi nesciunt. Neque porro</p>
                                                <a href="#" class="reply">reply</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="single-comment">
                                    <div class="image"><img src="assets/images/blog/comment-3.jpg" alt=""></div>
                                    <div class="content">
                                        <h5>Elina Smith  /  <span>30 Janurary, 2018</span></h5>
                                        <p>enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cntur magn lores eos qui ratione voluptatem sequi nesciunt. Neque porro</p>
                                        <a href="#" class="reply">reply</a>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <h4>Leave a reply</h4>

                        <form action="#" class="comment-form">
                            <div class="row">

                                <div class="col-md-6 col-12 mb-30">
                                    <label for="first_name">First name*</label>
                                    <input type="text" id="first_name">
                                </div>

                                <div class="col-md-6 col-12 mb-30">
                                    <label for="last_name">Last name*</label>
                                    <input type="text" id="last_name">
                                </div>

                                <div class="col-md-6 col-12 mb-30">
                                    <label for="email_address">Email*</label>
                                    <input type="email" id="email_address">
                                </div>

                                <div class="col-md-6 col-12 mb-30">
                                    <label for="phone_number">Phone</label>
                                    <input type="text" id="phone_number">
                                </div>

                                <div class="col-12 mb-30">
                                    <label for="message">Message*</label>
                                    <textarea id="message"></textarea>
                                </div>

                                <div class="col-12">
                                    <input type="submit" value="send now">
                                </div>

                            </div>
                        </form>

                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-12 order-2 order-lg-1">

                <div class="blog-sidebar mb-40">

                    <h4 class="title">CATEGORIES</h4>

                    <ul>
                        <li><a href="#">Tv & Audio System</a></li>
                        <li><a href="#">Computer & Laptop</a></li>
                        <li><a href="#">Phones & Tablets</a></li>
                        <li><a href="#">Home Appliances</a></li>
                        <li><a href="#">Kitchen appliances</a></li>
                        <li><a href="#">Printer & Scanner</a></li>
                        <li><a href="#">Camera & CC Camera</a></li>
                        <li><a href="#">Smart Watch</a></li>
                        <li><a href="#">Accessories</a></li>
                    </ul>

                </div>

                <div class="blog-sidebar mb-40">

                    <h4 class="title">RECENT POST</h4>

                    <div class="sidebar-blog">
                        <a href="#" class="image"><img src="assets/images/blog/sidebar-blog-1.jpg" alt="Sidebar Blog"></a>
                        <div class="content">
                            <h5><a href="#">PS4 Play Station for playing games</a></h5>
                            <span>30 January 2018</span>
                        </div>
                    </div>

                    <div class="sidebar-blog">
                        <a href="#" class="image"><img src="assets/images/blog/sidebar-blog-2.jpg" alt="Sidebar Blog"></a>
                        <div class="content">
                            <h5><a href="#">Kitchen Appliances Toster</a></h5>
                            <span>26 January 2018</span>
                        </div>
                    </div>

                    <div class="sidebar-blog">
                        <a href="#" class="image"><img src="assets/images/blog/sidebar-blog-3.jpg" alt="Sidebar Blog"></a>
                        <div class="content">
                            <h5><a href="#">Most Innovative Smartphone</a></h5>
                            <span>20 January 2018</span>
                        </div>
                    </div>

                </div>

                <div class="blog-sidebar mb-40">

                    <div class="banner"><a href="#"><img src="assets/images/banner/banner-41.jpg" alt="Banner"></a></div>

                </div>

                <div class="blog-sidebar mb-40">

                    <h4 class="title">Tags</h4>

                    <div class="tags-cloud">
                        <a href="#">smartphone</a>
                        <a href="#">Iron</a>
                        <a href="#">Trimer</a>
                        <a href="#">Smart Watch</a>
                        <a href="#">Play Station</a>
                        <a href="#">Oven</a>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div><!-- Blog Section End -->
