@page
@model AspnetRun.Web.Pages.FaqModel
@{
}

<!-- Faq Section Start -->
<div class="faq-section section mt-90 mb-40">
    <div class="container">
        <div class="row row-25">

            <div class="col-lg-6 col-12 mb-50">

                <div class="faq-wrap">

                    <div class="single-faq">
                        <h4>What Shipping Methods are Available?</h4>
                        <p>Terms know how to pursue pleasure rationally encounter cnces that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because.</p>
                    </div>

                    <div class="single-faq">
                        <h4>What Payment Methods are Available?</h4>
                        <p>Terms know how to pursue pleasure rationally encounter cnces that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because.</p>
                    </div>

                    <div class="single-faq">
                        <h4>How I Return back my product?</h4>
                        <p>Terms know how to pursue pleasure rationally encounter cnces that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because.</p>
                    </div>

                    <div class="single-faq">
                        <h4>What policy do you have for product sell?</h4>
                        <p>Terms know how to pursue pleasure rationally encounter cnces that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because.</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-6 col-12 mb-50">

                <div class="faq-wrap">

                    <div class="single-faq">
                        <h4>What is the payment secutiry system?</h4>
                        <p>Terms know how to pursue pleasure rationally encounter cnces that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because.</p>
                    </div>

                    <div class="single-faq">
                        <h4>How can I track my order?</h4>
                        <p>Terms know how to pursue pleasure rationally encounter cnces that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because.</p>
                    </div>

                    <div class="single-faq">
                        <h4>Do I need creat account for buy products?</h4>
                        <p>Terms know how to pursue pleasure rationally encounter cnces that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because.</p>
                    </div>

                    <div class="single-faq">
                        <h4>How can I get discount coupon?</h4>
                        <p>Terms know how to pursue pleasure rationally encounter cnces that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because.</p>
                    </div>

                </div>

            </div>

            <div class="col-12 mb-50"><p class="ask-question">Can’t find an answer? Call us at <a href="tel:+88012354569658268">+88012354 569 658 268</a> or mail us through <a href="mailto:info@e&e.com">info@e&e.com</a></p></div>

        </div>
    </div>
</div><!-- Faq Section End -->
