@page
@model AspnetRun.Web.Pages.FeatureModel
@{
}

<!-- About Section Start -->
<div class="about-section section mt-90 mb-30">
    <div class="container">

        <div class="row">

            <!-- Feature Content -->
            <div class="feature-content col-lg-6 col-12 order-2 order-lg-1 mb-30">
                <h2><span>YOU CAN</span> CHOOSE US</h2>
                <h1>BECAUSE <span>WE ALWAYS PROVIDE</span> IMPORTANCE...</h1>
                <p>E&E provide how all this mistaken idea of denouncing pleasure and sing pain was born an will give you a complete account of the system, and expound the actual teachings of the eat explorer of the truth, the mer of human</p>
                <p>E&E provide how all this mistaken idea of denouncing pleasure and sing pain was born an will give you a complete account of the system, and expound the actual teachings of the eat explorer of the truth, the mer of human</p>
            </div>

            <!-- Feature Image -->
            <div class="col-lg-5 col-12 order-1 order-lg-2 ml-auto mb-30">
                <div class="feature-image"><img src="assets/images/about/feature-image.jpg" alt=""></div>
            </div>

        </div>

        <div class="row mb-30">

            <!-- About Feature -->
            <div class="about-feature col-lg-9 col-12">
                <div class="row">

                    <div class="col-lg-4 col-md-6 col-12 mb-30">
                        <h4>FAST DELIVERY</h4>
                        <p>E&E provide how all this mistaken dea of denouncing pleasure and sing </p>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-30">
                        <h4>QUALITY PRODUCT</h4>
                        <p>E&E provide how all this mistaken dea of denouncing pleasure and sing </p>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-30 d-none d-lg-block"></div>

                    <div class="col-lg-4 col-md-6 col-12 mb-30">
                        <h4>SECURE PAYMENT</h4>
                        <p>E&E provide how all this mistaken dea of denouncing pleasure and sing </p>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-30">
                        <h4>MONEY BACK GUARNTEE</h4>
                        <p>E&E provide how all this mistaken dea of denouncing pleasure and sing </p>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-30">
                        <h4>EASY ORDER TRACKING</h4>
                        <p>E&E provide how all this mistaken dea of denouncing pleasure and sing </p>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-30">
                        <h4>FREE RETURN</h4>
                        <p>E&E provide how all this mistaken dea of denouncing pleasure and sing </p>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-30">
                        <h4>24/7 SUPPORT</h4>
                        <p>E&E provide how all this mistaken dea of denouncing pleasure and sing </p>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div><!-- About Section End -->
