@page
@model AspnetRun.Web.Pages.OrderSubmittedModel
@{
}

<!-- Track Order Section Start -->
<div class="track-order-section section mt-90 mb-50">
    <div class="container">
        <div class="row align-items-center">

            <div class="track-order-title text-center col-12 mb-80">
                <h2>Your Order Submitted Successfully...</h2>
                <p>To track your order please go to Track Order page. This was give to you on your receipt and in the confirmation email you should have reveived</p>
            </div>
        </div>
    </div>
</div>
<!-- Track Order Section End -->
