@page
@model AspnetRun.Web.Pages.StoreModel
@{
}

<!-- Store Section Start -->
<div class="store-section section mt-90 mb-20">
    <div class="container">
        <div class="row">

            <!-- Single Store -->
            <div class="col-lg-4 col-md-6 col-12 mb-70">
                <div class="single-store">
                    <h3>E&E Australia</h3>
                    <p>You address will be here Lorem Ipsum is simply dummy text.</p>
                    <p><a href="tel:01234567890">01234 567 890</a> / <a href="tel:01234567891">01234 567 891</a></p>
                    <p><a href="mailto:info@example.com">info@example.com</a> / <a href="#">www.example.com</a></p>
                </div>
            </div>

            <!-- Single Store -->
            <div class="col-lg-4 col-md-6 col-12 mb-70">
                <div class="single-store">
                    <h3>E&E England</h3>
                    <p>You address will be here Lorem Ipsum is simply dummy text.</p>
                    <p><a href="tel:01234567890">01234 567 890</a> / <a href="tel:01234567891">01234 567 891</a></p>
                    <p><a href="mailto:info@example.com">info@example.com</a> / <a href="#">www.example.com</a></p>
                </div>
            </div>

            <!-- Single Store -->
            <div class="col-lg-4 col-md-6 col-12 mb-70">
                <div class="single-store">
                    <h3>E&E Germany</h3>
                    <p>You address will be here Lorem Ipsum is simply dummy text.</p>
                    <p><a href="tel:01234567890">01234 567 890</a> / <a href="tel:01234567891">01234 567 891</a></p>
                    <p><a href="mailto:info@example.com">info@example.com</a> / <a href="#">www.example.com</a></p>
                </div>
            </div>

            <!-- Single Store -->
            <div class="col-lg-4 col-md-6 col-12 mb-70">
                <div class="single-store">
                    <h3>E&E France</h3>
                    <p>You address will be here Lorem Ipsum is simply dummy text.</p>
                    <p><a href="tel:01234567890">01234 567 890</a> / <a href="tel:01234567891">01234 567 891</a></p>
                    <p><a href="mailto:info@example.com">info@example.com</a> / <a href="#">www.example.com</a></p>
                </div>
            </div>

            <!-- Single Store -->
            <div class="col-lg-4 col-md-6 col-12 mb-70">
                <div class="single-store">
                    <h3>E&E Canada</h3>
                    <p>You address will be here Lorem Ipsum is simply dummy text.</p>
                    <p><a href="tel:01234567890">01234 567 890</a> / <a href="tel:01234567891">01234 567 891</a></p>
                    <p><a href="mailto:info@example.com">info@example.com</a> / <a href="#">www.example.com</a></p>
                </div>
            </div>

            <!-- Single Store -->
            <div class="col-lg-4 col-md-6 col-12 mb-70">
                <div class="single-store">
                    <h3>E&E Denmark</h3>
                    <p>You address will be here Lorem Ipsum is simply dummy text.</p>
                    <p><a href="tel:01234567890">01234 567 890</a> / <a href="tel:01234567891">01234 567 891</a></p>
                    <p><a href="mailto:info@example.com">info@example.com</a> / <a href="#">www.example.com</a></p>
                </div>
            </div>

        </div>
    </div>
</div><!-- Store Section End -->
