@page
@model AspnetRun.Web.Pages.TermsConditionsModel
@{
}

<!-- Terms & Conditions Section Start -->
<div class="terms-conditions-section section mt-90 mb-90">
    <div class="container">
        <div class="row">

            <div class="terms-conditions-wrap col-lg-11 col-12">
                <h2>Terms & Conditins</h2>
                <p>Please read our “Terms & Conditios” very carefully and learn our all rules. This rules was modified on 8 January 2018</p>

                <ul>
                    <li>Terms know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure</li>
                    <li>Rules are more creative and  know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas</li>
                    <li>Return policies know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because oionally circumstances occur in which toil and pain can procure</li>
                    <li>Terms know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or rsues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudia</li>
                    <li>Terms know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure</li>
                    <li>Terms know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor </li>
                    <li>Terms know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure</li>
                    <li>Terms know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or ursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor lendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudia</li>
                    <li>Terms know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure</li>
                    <li>Terms know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or prsues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda </li>
                </ul>

            </div>

        </div>
    </div>
</div><!-- Terms & Conditions Section End -->
