/*---------------------------------------
    24. Subscribe
-----------------------------------------*/
.subscribe-section {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/*-- Subscribe Content --*/
.subscribe-content {
    & h2 {
        font-size: 28px;
        line-height: 34px;
        text-transform: uppercase;
        margin: 0;
        
        // Responsive
        @media #{$desktop-device}{
            font-size: 24px;
            line-height: 28px
        }
        @media #{$tablet-device}{
            font-size: 24px;
            line-height: 28px;
            text-align: center;
        }
        @media #{$large-mobile}{
            font-size: 24px;
            line-height: 28px;
            text-align: center;
        }
        @media #{$small-mobile}{
            font-size: 18px;
            line-height: 24px;
        }

        & span {
            font-weight: 800;
        }
    }
}

/*-- Subscribe Form --*/
.subscribe-form {
    width: 100%;
    border: 1px solid #d0d0d0;
    padding: 3px;
    padding-right: 140px;
    border-radius: 50px;
    position: relative;
        
    // Responsive
    @media #{$small-mobile}{
        padding: 0;
        border: none !important;
    }
    
    & input {
        height: 50px;
        width: 100%;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        background-color: transparent;
        border: none;
        line-height: 24px;
        padding: 13px 20px;
        font-size: 14px;
        font-weight: 600;
        color: $body-color;
        
        // Responsive
        @media #{$small-mobile}{
            border: 1px solid #d0d0d0;
            border-radius: 50px;
            text-align: center;
        }
    }
    & button {
        position: absolute;
        right: 3px;
        top: 3px;
        height: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        background-color: $theme-color;
        border: none;
        line-height: 24px;
        text-transform: uppercase;
        padding: 13px 30px;
        font-size: 14px;
        font-weight: 700;
        color: $heading-color;
        
        // Responsive
        @media #{$small-mobile}{
            position: static;
            border-radius: 50px;
            margin-top: 10px;
            width: 100%;
        }
        
        // Hover
        &:hover {
            background-color: $heading-color;
            color: $theme-color;
        }
    }
}

/*-- Popup Subscribe Section --*/
.popup-subscribe-section {
    background-color: rgba($black, 0.75);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 9999999;
    padding: 10px;
}

/*-- Popup Subscribe Wrap --*/
.popup-subscribe-wrap {
    margin: auto;
    background-color: $theme-color;
    position: relative;
    max-width: 1015px;
    width: 100%;
    
    & .close-popup {
        width: 36px;
        height: 36px;
        border: none;
        color: $heading-color;
        border-color: #f6f7f8;
        font-size: 18px;
        font-weight: 700;
        position: absolute;
        right: 30px;
        top: 30px;
    }
    
}


/*-- Popup Subscribe Banner --*/
.popup-subscribe-banner {
    width: 435px;
    float: left;
        
    // Responsive
    @media #{$desktop-device}{
        width: 400px;
    }
    @media #{$tablet-device}{
        width: 350px;
    }
    @media #{$large-mobile}{
        display: none;
    }
    
    & a {
        & img {}
    }
}


/*-- Popup Subscribe Form Wrap --*/
.popup-subscribe-form-wrap {
    float: left;
    overflow: hidden;
    padding: 60px;
        
    // Responsive
    @media #{$desktop-device}{
        padding: 50px 60px;
    }
    @media #{$tablet-device}{
        width: 395px;
        padding: 40px;
    }
    @media #{$large-mobile}{
        padding: 30px;
    }
    
    & h1 {
        font-size: 36px;
        line-height: 44px;
        font-family: $oswald;
        font-weight: 700;
        text-transform: uppercase;
        
        // Responsive
        @media #{$tablet-device}{
            font-size: 30px;
            line-height: 36px;
        }
        @media #{$large-mobile}{
            font-size: 24px;
            line-height: 30px;
        }
    }
    & h4 {
        font-size: 18px;
        color: $body-color;
        font-weight: 600;
        margin-bottom: 38px;
        
        // Responsive
        @media #{$tablet-device}{
            font-size: 16px;
            margin-bottom: 20px;
        }
        @media #{$large-mobile}{
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 10px;
        }
    }
    & p {
        font-size: 16px;
        color: $heading-color;
        margin-top: 30px;
        margin-bottom: 0;
        max-width: 460px;
        
        // Responsive
        @media #{$large-mobile}{
            font-size: 14px;
            margin-top: 10px;
        }
    }
}


/*-- Popup Subscribe Form --*/
.popup-subscribe-form {
    & input[type="email"] {
        font-size: 16px;
        font-family: $opensans;
        color: $heading-color;
        max-width: 100%;
        width: 460px;
        border-width: 0 0 1px;
        border-style: solid;
        border-color: $heading-color;
        background-color: transparent;
        line-height: 35px;
        clear: both;
        &::-webkit-input-placeholder {
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            color: $heading-color;
        }
        
        // Responsive
        @media #{$large-mobile}{
            width: 100%;
        }
    }
    & button.button {
        margin-top: 35px;
        display: block;
        line-height: 22px;
        background-color: transparent;
        border: 1px solid $heading-color;
        color: $heading-color;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 50px;
        padding: 10px 30px;
        
        // Responsive
        @media #{$tablet-device}{
            margin-top: 20px;
        }
        @media #{$large-mobile}{
            margin-top: 20px;
        }
    }
}